COMPOSE_PROJECT_NAME=grunteon-platform

GRUNT_BACK_HTTP_PORT=8080
GRUNT_BACK_SPRING_PROFILE=docker
GRUNT_BACK_SECURITY_USER=admin
GRUNT_BACK_SECURITY_PASSWORD=change-me
GRUNT_BACK_DEFAULT_PROFILE=SECURE
GRUNT_BACK_UI_PROFILE=RESEARCH
GRUNT_BACK_CONTROL_PLANE_NAME=docker-control-plane
GRUNT_BACK_WORKER_PLANE_NAME=docker-worker-plane
GRUNT_BACK_KAFKA_ENABLED=true
GRUNT_BACK_REDIS_ENABLED=true
GRUNT_BACK_MINIO_ENABLED=true
GRUNT_BACK_TEMPORAL_ENABLED=false
GRUNT_BACK_OTEL_ENABLED=false
GRUNT_BACK_DOWNLOAD_GRANT_TTL_SECONDS=120
GRUNT_BACK_INFRA_FAIL_FAST=true
GRUNT_BACK_MINIO_ENDPOINT=http://minio:9000
GRUNT_BACK_MINIO_ACCESS_KEY=grunteon
GRUNT_BACK_MINIO_SECRET_KEY=grunteon123
GRUNT_BACK_MINIO_BUCKET=grunteon-artifacts
GRUNT_BACK_MINIO_REGION=us-east-1

POSTGRES_DB=grunteon
POSTGRES_USER=grunteon
POSTGRES_PASSWORD=grunteon

REDIS_PASSWORD=

KAFKA_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_IMAGE=bitnamilegacy/kafka:latest

MINIO_ROOT_USER=grunteon
MINIO_ROOT_PASSWORD=grunteon123
MINIO_BUCKET=grunteon-artifacts

WORKER_HTTP_PORT=8081
